@import '../../Theme/Theme.module.scss';

.cardStyle {
  background-color: Transparent;
  width: 'auto';
  height: 'auto';
  border-color: transparent;
}
.buttonStyle {
  @include font($darkGreen, 1rem, 700);
  border-radius: 10px;
  background: $white;
  border: solid 2px transparent;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
  &:hover {
    border-color: $lightGreen;
    background-color: $lightGreen;
    color: $white;
  }
  &:focus {
    border-color: $lightGreen;
    background-color: $lightGreen;
    color: $white;
  }
}
.loadingStyle {
  @include font($white, 1rem, 700);
  text-align: center;
}
